{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>jbt3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  .card-body {
    padding: 1.5rem;
  }
    .second_con{
    width: 900px;
    margin-left: 100px;
    height: 600px;
    border-radius: 20px;
}
/* .content_con {
    width: 700px;
    margin-left: 100px;
} */
.active {background-color:#d2ebd5;}
  </style>
</head>
{% block content %}
<body style="background-image: url(/static/images/background-version-1-Grant-review-web-screen.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
<div class="container">
  <div class="second_con">
    <div class="content_con">
    <div class="heading" style="color: aliceblue; margin-top: 40px;">
      <img src="/static/images/jbt3-logo-png.png" style="width:200px; background-repeat: no-repeat;margin-left: -35px;">
        <p style="font-size: 2.9rem;"> What do you want to do?</p>
    </div>
    <div class="error" style="color: rgb(205, 47, 76);font-weight: 600;">{{message}}</div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="rad_ad" style="color:#f0f2f6; margin-top: 50px;font-size: 1.2rem;">
        <div class="raid_ch">
            {{ form }}
        </div>
        <!-- <div class="rad_ch2">
            <input type="radio" name="group1" id="r1" value="2" />
            <label for="r1">Check my answer against grant criteria</label>
        </div> -->
    </div>
      <br><br>
      <div class="btn_cont">
        <button id="next_proceed" type="submit" class="btn" style="background-color: #378a65; color: #d2ebd5; width: 25%;">Continue
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
      </div>
     </form>
  </div>
</div>
</div>   
<script>
$(document).ready(function() {
$(".card").click(function () {
    $(".card").removeClass("active");
    // $(".tab").addClass("active"); // instead of this do the below 
    $(this).addClass("active");   
});
});
</script> 
<!-- <script>
$('#next_proceed').click(function() {
    window.location.href = '/pre/qualification/feed';
    return false;
});
</script> -->
</body>
{% endblock %}
</html>
